.body_container{
    padding-top: 50px;

}

.body_container>h1{
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
}

.body_resume_build_main_container{
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: auto;
    margin-top: 30px;
}

.body_resume_build_heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-size: 1.4rem;
}

.body_resume_heading{
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.body_resume_heading_all{
    cursor: pointer;
}

.body_resume_build_body{
    height: 570px;
    overflow-y: scroll;
}