.basic_main_container{
    margin-top: 16px;
    margin-bottom: 20px;
}

.Experience_heading{
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
}

.basic_main_container>form{
    width: 60%;
    margin: auto;
}

.basic_main_container>form>div{
    position: relative;
}

.basic_main_container>form>div>label{
    position: absolute;
    top: 15px;
    left: 5%;
    background-color: white;
}

.basic_main_container>form>div>input , .basic_main_container>form>div>textarea{
    padding: 16px 8px 13px 8px;
    font-size: 1.3rem;
    width: 100%;
    margin-top: 25px;
}

#submitButton{
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   margin-top: 50px;
   padding: 12px 12px;
   background-color: orange;
   color: white;
   font-weight: bold;
   font-size: 21px;
   border: none;
   border-radius: 12px;
}

.Experience_already_present_main_div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.Experience_already_present_data{
    background-color: rgb(242, 223, 188);
    width: 70%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 19px;
    margin-top: 20px;
}

.Experience_already_present_data>div>i{
    font-size: 1.7rem;
    margin-left: 4px;
}

.Experience_already_present_data>div>div{
    margin-top: 5px;
    font-size: 1.1rem;
}